# Ignore following files
fortran/*.x
fortran/*.cmd
fortran/obj
fortran/log
fortran/scratch
idl/config_simulator.pro
idl/config_vis.pro
latex/config_doc.tex
mpmd/config.sh
mpmd/ecflow_suite/config_suite.py
mpmd/ecflow_suite/*.def
/mpmd/generated/
*~
*.old
*.sqlite3
*pyc
*test*
*.log
*.pdf
*.backup
*.aux
*.toc
*.lof
*.eps
*.png
*.jpeg
*.jpg
*.EPS
*.PNG
*.JPEG
*.JPG
*.nc
*.txt
*.swp
*error*
*.o
*.x
*.mod
*.MOD
*.out
*.err
*.cmd
.directory
