# Ignore following files
fortran/cloud_simulator
fortran/fort*
fortran/config.file
fortran/input*
fortran/output*
config_simulator.pro
config_vis.pro
config_doc.tex
*~
*test*
*.log
*.pdf
*.backup
*.aux
*.toc
*.lof
*.eps
*.png
*.jpeg
*.jpg
*.EPS
*.PNG
*.JPEG
*.JPG
*.nc
*.txt
*.swp
*error*
.directory
*.o
*.mod
*.MOD
*.out
*.err
