# Ignore following files
config_simulator.pro
config_vis.pro
fortran/cloud_simulator
fortran/fort*
fortran/scratch
latex/config_doc.tex
mpmd/config.sh
mpmd/ecflow_suite/config_suite.py
mpmd/ecflow_suite/*.def
*~
*pyc
*test*
*.log
*.pdf
*.backup
*.aux
*.toc
*.lof
*.eps
*.png
*.jpeg
*.jpg
*.EPS
*.PNG
*.JPEG
*.JPG
*.nc
*.txt
*.swp
*error*
*.o
*.mod
*.MOD
*.out
*.err
.directory
